
<div class="card" id="<%= productos.id %>">
  <div class="imagen">
    <img src="<%= productos.imagen %>" alt="<%= productos.id %>">
  </div>
  <div class="card-body">
    <h1><%= productos.nombre %></h1>
    <p><%= productos.descripcion %></p>
    <p>$ <%= productos.precio %></p>
    <a href="/productos/productos/<%= productos.id %>" class="btn btn-primary">Ver Detalles</a>
    <a id="add-to-cart-<?php echo $producto->_id ?>" class="btn btn-primary" href="#" onclick="addToCart('<?php echo $producto->_id ?>')">carrito</a>
  </div>
</div>
 <br>